#img-bg{
    background-image: url('../../assets/como-criar-cronograma-estudo-810x540.png');
    
    min-height: 695px;
    
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    }